
<form method="post" action='/checkout'>
  <h1>Checkout</h1>
  <label for="item"> Please enter your item</label>
  <input type="text" id="item" name="item"><br>

  <input type="submit" value="Submit"><br>
  <!-- <% puts @session["session_id"] %> -->
</form>
